@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

span {
  color: white;
  padding-left: 1rem;
  padding-top: 1rem;
}

p {
  color: white;
  position: absolute;
  right: 5vw;
  top: 5vh;
}

div {
  margin-top: 1rem;
}

.title {
  color: white;
  position: absolute;
  bottom: 14vh;
  font-weight: normal;
  margin-left: 5vw;
  font-size: 1.33rem;
}
